<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统首页</title>
    <script src="https://s3.pstatp.com/cdn/expire-1-M/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../resource/css/styles.css">
    <script type="text/javascript">
        $(function(){
            $('.menux p').click(function(){
                $(this).siblings('ul').slideUp(200);
                $(this).next('ul').slideToggle(200);
            });
            $('.menux ul a').click(function () {
                $('iframe').attr("src",$(this).attr("url"));
                $('.menu_title').html($(this).attr('title'));
            })
        })
    </script>

</head>
<body>
    <div class="header">
        <div style="position: absolute;padding-top: 16px;font-size: 36px;padding-left: 20px;color: #2b542c">Email</div>
    <div style="float: right;font-size: 28px;padding-right:100px;padding-top: 20px">欢迎你，{{ account }}
    &nbsp;&nbsp;&nbsp;&nbsp;<a href="/logout" style="font-size: 24px;text-decoration: none" onclick="logout()" >注销</a></div>
    <script>
        function logout() {
            confirm("您确定注销吗？")
        }
    </script>
    </div>
    <div class="left">
        <div class="title"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
  <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
</svg>&nbsp;&nbsp;我的功能</div>
        <div class="menux">
              <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
    </svg>&nbsp;收件箱 ({{total}}) </p>
                <ul>
                    <li><a href="javascript:void(0);" url="/myRead" title="已读">已读 ({{myReadCount}})</a></li>
                    <li><a href="javascript:void(0);" url="/myUnRead" title="未读">未读 ({{myUnReadCount}})</a></li>
                </ul>
            <p><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-info-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
</svg>&nbsp;发件箱 -></p>
                   <ul>
                    <li><a href="javascript:void(0);" url="/toSend" title="写邮件">写邮件</a></li>
                    <li><a href="javascript:void(0);" url="/mySend" title="已发送">已发送</a></li>
                </ul>
        </div>
    </div>
    <div class="main">
        <div class="location">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
</svg>&nbsp;<span class="menu_title">Email</span>
        </div>
        <iframe src="/myRead" width="99%" height="98%" frameborder="0"></iframe>
    </div>
</body>
</html>